.brands__line {
    position: relative;
    margin-bottom: 100px;
}

.brand__line-block {
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    padding: 10px 0;
    backdrop-filter: blur(10px);
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
    background: linear-gradient(149deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.2) 100%);
    overflow: hidden;

}

