@use '../nullstyle';


.detail-page {

    header {
        color: #fff !important;

        & .header__logo .logo {
            filter: brightness(0) invert(1);
        }

        .menu__icon span,
        .menu__icon::before,
        .menu__icon::after {
            background-color: #fff
        }
    }

    &._burger-active{
        .header__logo .logo {
            filter: brightness(0) invert(0);
        }

        .menu__icon span,
        .menu__icon::before,
        .menu__icon::after {
            background-color: #333
        }

    }


@import '../default';
@import './hero';
@import './card';
@import './features';
@import './recomms';
@import './callaction';
@import './dialog';
}