
@use './default';

body._lock{
  overflow: hidden;
}


.header {
  position: relative;
  user-select: none;
  padding-top: 15px;
  overflow: hidden;
  height: 80px;
  z-index: 100;
}

a{
  color: #333;
}



.menu__icon{
  display: none;
}


.header__navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo{
  display: flex;
  align-items: center;
  z-index: 100;
}


.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
}

.header__menu {
  display: flex;
  list-style-type: none;
  gap: 30px;
}

.header__menu-item {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    color: #034672fd;
  }
}

.header__actions {
  display: flex;
}
.header__actions--mobile{
  display: none;
}



.button--contact {
  color: red;
  text-decoration: none;
  margin-right: 10px;
  &:hover {
    color: rgba(202, 61, 61, 0.9);
  }
}

.button--signup {
  background-color: red;
  color: #fff;
  border: none;
  &:hover {
    background-color: #fff;
    border: solid red 1px;
    color: red;
  }
}





@media (max-width: 975px){

  .header__actions--mobile{
    display: flex !important;

  }

  .header__actions{
    display: none;
  }
  .menu__icon { 
    display: block;
    z-index: 100;
    display: block; 
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
}

.menu__icon span,
.menu__icon::before,
.menu__icon::after { 
    left: 0;
    position: absolute;
    background-color: #333;
    height: 10%;
    width: 100%;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

.menu__icon::before, 
.menu__icon::after { 
    content: "";
}

.menu__icon::before { 
    top: 0;
}
.menu__icon::after { 
    bottom: 0;
} 
.menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
}

.menu__icon._active {
    & span {
        transform: scale(0) translate(0px, -50%);
    }
    &::before {
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
    }
    &::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0, 50%);
    }
}

.burger__body{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  font-size: 32px;
  transition: left 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  overflow: auto; 
  text-align: left;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 90;
  
}

.header__menu-item{
  color: #333;
}

.burger__body._active{
  padding: 100px 0 30px 0px;
  left: 0;
}

.header__actions--mobile{
  display: flex;

  & .button--signup{
    align-self: flex-start;
    padding: 10px 20px !important;
  }
}


.header__menu{
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: center;
  padding: 0;
  margin-bottom: 50px;
  letter-spacing: 2px;
  & .header__menu-item{
    display: block;
  }
}


@media (max-width: 469px){
    .header__logo{
      position: absolute;
      top: 10px;
      left: 10px;
    }

    .menu__icon{
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
  }