.header {
  min-height: 800px;
  height: 85vh;
  user-select: none;
  padding-top: 15px;
  background: url('../img/header/header-background.jpg') no-repeat center;
  background-size: cover;
  position: relative;
  
}

.container {
  margin: 0 auto;
  max-width: calc(100vw - 110px);
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 72px;
  background: transparent;
  
}

.header__menu {
  display: flex;
  list-style-type: none;
  gap: 30px;
}

.header__menu-item {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    color: #034672fd;
  }
}

.header__actions {
  display: flex;
}



.button--contact {
  color: red;
  text-decoration: none;
  margin-right: 10px;
  &:hover {
    color: rgba(202, 61, 61, 0.9);
  }
}

.button--signup {
  background-color: red;
  color: #fff;
  border: none;
  &:hover {
    background-color: #fff;
    border: solid red 1px;
    color: red;
  }
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.header__content-text {
  max-width: 420px;
}

.header__content-info{
    padding-top: 100px;
    max-width: 204px;
}

.header__content-column{
  display: flex;
  flex-direction: column;
  gap: 56px;
 
}

.header__title {
  font-size: 56px;
  font-weight: 700;
}

.header__subtitle {
  max-width: 300px;
  font-size: 18px;
  opacity: 0.6;
  font-weight: 500;
}



.social {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 10px;
}

.social__icon {}

.stats {
  text-align: center;
}


.stats__count {
  font-size: 24px;
  font-weight: bold;
}

.stats__text {
  font-size: 16px;
  opacity: 0.7;
  text-align: left;
  margin-bottom: 200px;

}

.stats__actions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 100%;
}

.button--outline {
  background-color: #fff;
  border: solid red 1px;
  color: red;
  &:hover {
    background-color: red;
    color: #fff;
  }
}

.button--consult{
  padding: 10px 60px !important;
}

