.values {}

.values__container {
    display: flex;
    gap: 10px;
    min-height: 525px;
}

.container {}

.values__text-block {
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 39px 0px 133px 0px;
    text-align: left;
    max-width: 416px;

}

.values__title {
    font-weight: 700;
    font-size: 56px;
}

.values__description {
    font-weight: 500;
font-size: 18px;
opacity: 0.6;
max-width: 272px;
}

.values__car-block {
    width: 100%;
    background: url('../img/main/values/background.jpg') no-repeat center;
  background-size: contain;
}

.values__cards {
    width: 100%;
    height: 100%;
    position: relative;
}

.values__card {
    max-width: 176px;
    max-height: 122px;
    backdrop-filter: blur(10px);
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
    background: linear-gradient(149deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.2) 100%);
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    &:nth-child(1){
        right: 100px;
        top: 70%;
        
    }
    &:nth-child(2){
     top: 15%;
     left: 40%;
    }

    &:nth-child(3){
        top: 38%;
        left: 40px;
    }
}

.values__card-title {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}

.values__card-description {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    opacity: 0.6;
}

@media (max-width: 1215px) {
    .values__card:nth-child(1){
        right: 0;
        top: 50%;
    }

    .values__card:nth-child(2){
        top: 18%;
        left: 50%;
    }
}

@media (max-width: 975px){
    .values__car-block{
        background: none;
    }
    .values__container{
       align-items: center;
        flex-direction: column;
    }
    .values__card{
        position:static;
        width: 90%;
        max-width: 90%;

        &-title{
            font-size: 22px;
        }

        &-description{
            font-size: 18px;
        }
    }

 

    .values__cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        position: static;

       // padding: 25px 0 25px 0;

        
    }

    

    .values__text-block{
        gap: 50px;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 25px 0px 25px 0px;
        position: relative;
    }
}

@media(max-width: 600px){
    .values__cards{
        flex-direction: column;
       align-items: center;
    }
}